@* <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Luxury Diamond Website">
    <link rel="stylesheet" href="~/css/site.css">
    <title>@ViewData["Title"] - Luxury Diamond</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">CustomerView</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/ProductFullPage/Index">ProductPage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/OrderPage/Index">OrderPage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/OrderDetailPage/Index">OrderDetailPage</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <div>
        @await Html.PartialAsync("_Footer")
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html> *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CustomerView</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Footer.css" asp-append-version="true" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <style>
        a {
            text-decoration: none;
        }

            a:hover {
                text-decoration: none;
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Luxury Diamond</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/HomePage">Trang chủ <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ProductList">Sản phẩm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/DatabaseCheck">Dịch vụ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Liên hệ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Payment">Thanh toán</a>
                    </li>

                    @* Kiểm tra nếu người dùng đã đăng nhập *@
                    @if (Context.Session.GetString("UserId") == null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Login">Đăng nhập</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="#" onclick="confirmLogout()">Đăng xuất</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>

    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="text-center text-lg-start bg-body-tertiary line">
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3 pr-2"></i>Luxury Diamond
                        </h6>
                        <div class="link-icons">
                            <a href="https://www.facebook.com/" class="me-4 text-reset pr-2">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="https://www.google.com/" class="me-4 text-reset pr-2">
                                <i class="fab fa-google"></i>
                            </a>
                            <a href="https://www.instagram.com/" class="me-4 text-reset pr-2">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="https://www.linkedin.com/" class="me-4 text-reset">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                        <div>
                            <i class="bx bxs-phone-call"></i> 0933 1977 55 - 0877 0566 88
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">Về chúng tôi</h6>
                        <p>
                            <a href="/Gioi-thieu" class="text-reset">Giới thiệu</a>
                        </p>
                        <p>
                            <a href="/Giay-chung-nhan" class="text-reset">Giấy chứng nhận</a>
                        </p>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">Hướng dẫn sử dụng</h6>
                        <p>
                            <a href="/DoNi" class="text-reset">Đo size</a>
                        </p>
                        <p>
                            <a href="/Bao-quan-trang-suc" class="text-reset">Bảo quản trang sức</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">Hỗ trợ</h6>
                        <p>
                            <a href="/Chinh-sach-mua-hang" class="text-reset">Chính sách mua hàng</a>
                        </p>
                        <p>
                            <a href="/Huong-dan-doi-tra" class="text-reset">Chính sách thu hồi</a>
                        </p>
                        <p>
                            <a href="/Chinh-sach-bao-mat" class="text-reset">Bảo mật thông tin</a>
                        </p>
                        <p>
                            <a href="/PriceGold" class="text-reset">Giá vàng hôm nay</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05)">
            © 2024 Copyright
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function confirmLogout() {
            if (confirm("Bạn có chắc chắn muốn đăng xuất không?")) {
                
                window.location.href = '/Logout'; 
            }
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

